/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* Header */
h1 {
    color: #A020F0;
    font-size: 40pt;
    text-align: center;
    margin-top: 45px;
}

/* Logo (Top Right Corner) */
.logo-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    width: 50px;
    height: 50px;
}

/* Return Button (Below Logo) */
.return {
    position: absolute;
    top: 70px; /* Slightly below the logo */
    right: 10px;
}

.return button {
    width: 120px;
    padding: 10px;
    font-size: 16px;
    background-color: #56096c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.return button:hover {
    background-color: #debded;
    color: #56096c;
}

/* Start Project Button (Below Title) */
.start-project {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Position closer to the title */
}

.start-project button {
    width: 160px;
    padding: 12px;
    font-size: 14px;
    background-color: #56096c;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.start-project button:hover {
    background-color: #debded;
    color: #56096c;
}