/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* Header */
h1 {
    color: #A020F0;
    font-size: 40pt;
    text-align: center;
    margin-top: 45px;
}

/* Return Button (Top Left Corner) */
.return {
    position: absolute;
    top: 10px;
    left: 10px;
}

.return button {
    width: 120px;
    padding: 10px;
    font-size: 16px;
    background-color: #56096c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px; /* Round button */
    transition: background-color 0.3s ease;
}

.return button:hover {
    background-color: #debded;
    color: #56096c;
}

/* Start Project Button (Centered) */
.start-project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Pushes to center */
}

.start-project button {
    width: 160px;
    padding: 12px;
    font-size: 14px;
    background-color: #56096c;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.start-project button:hover {
    background-color: #debded;
    color: #56096c;
}