/* Use background whitesmoke and dark logo color #a020f0 for default mode
   Use background color #3b3b38 and light logo color #debded for dark mode
*/

html {
    overflow: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: auto;
}

h1 {
    color: #a020f0;
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 7vh auto 7vh auto;
    text-align: center;
}

h2 {
    color: #3b3b38;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5vh auto 5vh auto;
    text-align: center;
}

p {
    font-size: 0.5pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3b3b38;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

header {
    background-color: #3b3b38;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

/* button {

}

:hover {

}

:disabled {

} */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #3b3b38;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

form {
    width: 30%;
    height: 50%;
    max-width: 60%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2vw;
    border: 0.5vw solid;
    border-color: #3b3b38;
    background-color: #a020f0;
    margin: auto;
}

form label {
    color: #3b3b38;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vh auto 1vh auto;
    text-align: center;
    flex: 1;
    vertical-align: middle;
}

form input {
    width: 60%;
    height: 10%;
    min-width: 60%;
    max-width: 60%;
    min-height: 10%;
    max-height: 10%;
    padding: 1vh 1vw;
    border: 0.1vw solid #3b3b38;
    border-radius: 80vw;
    font-size: 1vw;
    text-align: center;
    vertical-align: middle;
    line-height: 1vh;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    margin: auto;
}

body.border-container {
    position: fixed;
    border: 0.4vw solid;
    border-color: #a020f0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    margin-bottom: 20vh;
    margin: auto;
    border-radius: 5vw;
}

#home-icon {
    position: fixed;
}

#user-icon {
    position: fixed;
}

/* .fixed-buttons {
    position: fixed;
    left: 10px;
    top: 10%;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* home logo button */
.logo-button {
    position: fixed;
    top: 0.7vw;
    left: 0.7vw;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    width: 3.5vw;
    border: 0.25vw solid;
    border-color: #a020f0;
    border-radius: 0.5vw;
}


/* user icon button */
.user-button {
    position: fixed;
    top: 0.7vw;
    left: 4.9vw;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.user-button img {
    width: 3.5vw;
}


.return {

}

/* Sidebar styles */
.sidebar, .return {
    position: fixed;
    left: 0.7vw;
    top: 12vh; /* Adjusted position for visibility */
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

button {
    background-color: #a020f0;
    color: whitesmoke;
}

/* Button styles */
.sidebar button, .fixed-buttons button, .return button {
    width: 7vw;
    height: 1.4vw;
    padding: 1vh 1vw;
    font-size: 0.8vw;
    /* background-color: #a020f0;
    color: whitesmoke; */
    border: 0.1vw solid #3b3b38;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1vh;
    display: flex;
    border-radius: 80vw; /* Round buttons */
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover, button:disabled {
    background-color: #debdeb;
    color: #3b3b38;
}

/* .sidebar button:hover {
    background-color: #debded;
    color: #a020f0;
}

.sidebar button:disabled {
    background-color: #debded;
    color: #a020f0;
} */

/* search bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto 2vh auto;
}

.search-container input {
    width: 30vw;
    height: 2vw;
    padding: 1vh 1vw;
    margin: 2vh 1vw 2vh 2vw;
    border: 0.1vw solid #3b3b38;
    border-radius: 80vw;
    font-size: 2vw;
}

.search-container button {
    width: 15vw;
    height: 4.3vw;
    padding: 1vh 1vw;
    margin: 2vh 2vw 2vh 1vw;
    border: 0.1vw solid #3b3b38;
    border-radius: 80vw;
    cursor: pointer;
    font-size: 2vw;
}

/* .search-container button:hover {
    background-color: #debdeb;
} */

/* .return button {
    left: 10px;
    width: 120px;
    padding: 10px;
    font-size: 16px;
    background-color: #a020f0;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* .return button:hover {
    background-color: #debded;
} */

.start-project {
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 100px; /* Adjusted position for visibility */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-project button {
    left: 10px;
    width: 140px;
    padding: 10px;
    font-size: 12px;
    /* background-color: #a020f0;
    color: whitesmoke; */
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px; /* Round buttons */
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .start-project button:hover {
    background-color: #debded;
} */

.center-image {
    display: block;
    margin: auto;
    margin-top: 5vh;
}

.enlarge-image {
    width: 20vw;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    color: #3b3b38;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    #home-icon, #dingLogo {
        content: url('images/ding_logo_final.png');
    }
    body {
        background-color: #3b3b38;
    }
    h1 {
        color: #debded;
    }
    h2 {
        color: whitesmoke;
    }
    p {
        color: whitesmoke;
    }
    button {
        background-color: #debdeb;
        color: #3b3b38
    }
    label {
        color: whitesmoke;
    }
    form {
        background-color: #debded;
    }
    .logo-button img {
        border-color: #debdeb;
    }
    body.border-container {
        border-color: #debded;
    }
}

