/* Use background whitesmoke and dark logo color #a020f0 for default mode
   Use background color #3b3b38 and light logo color #debded for dark mode
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1 {
    color: #a020f0;
    font-size: 40pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 45px;
}

p {
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3b3b38;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

header {
    background-color: #3b3b38;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

/* button {

}

:hover {

}

:disabled {

} */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #3b3b38;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid whitesmoke;
    background-color: #debded;
    margin: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    margin-bottom: 100px;
    margin: auto;
    border-radius: 20px;
}

#home-icon {
    position: fixed;
}

/* .fixed-buttons {
    position: fixed;
    left: 10px;
    top: 10%;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* home logo button */
.logo-button {
    position: fixed;
    top: 0.7vh;
    left: 0.7vw;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    width: 3.5vw;
    border: 0.25vw solid;
    border-color: #a020f0;
    border-radius: 0.5vw;
}


/* user icon button */
.user-button {
    position: fixed;
    top: 0.7vh;
    left: 1.4vw;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.user-button img {
    width: 50px; /* Adjust size as needed */
    height: 50px;
}


/* Sidebar styles */
.sidebar {
    position: fixed;
    left: 0.7vw;
    top: 12vh; /* Adjusted position for visibility */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #a020f0;
    color: whitesmoke;
}

/* Button styles */
.sidebar button, .fixed-buttons button {
    width: 7vw;
    padding: 10px;
    font-size: 16px;
    /* background-color: #a020f0;
    color: whitesmoke; */
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px; /* Round buttons */
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover, button:disabled {
    background-color: #debdeb;
    color: #3b3b38;
}

/* .sidebar button:hover {
    background-color: #debded;
    color: #a020f0;
}

.sidebar button:disabled {
    background-color: #debded;
    color: #a020f0;
} */

/* search bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-container input {
    width: 300px;
    padding: 8px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    font-size: 16px;
}

.search-container button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    /* background-color: #a020f0;
    color: whitesmoke; */
    border-radius: 50px; 
    cursor: pointer;
    font-size: 16px;
}

/* .search-container button:hover {
    background-color: #debdeb;
} */

.return button {
    left: 10px;
    width: 120px;
    padding: 10px;
    font-size: 16px;
    /* background-color: #a020f0;
    color: whitesmoke; */
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px; /* Round buttons */
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .return button:hover {
    background-color: #debded;
} */

.start-project {
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 100px; /* Adjusted position for visibility */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.start-project button {
    left: 10px;
    width: 140px;
    padding: 10px;
    font-size: 12px;
    /* background-color: #a020f0;
    color: whitesmoke; */
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 50px; /* Round buttons */
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .start-project button:hover {
    background-color: #debded;
} */

.center-image {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.enlarge-image {
    width: 30vw;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    color: #3b3b38;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    #home-icon, #dingLogo {
        content: url('images/ding_logo_final.png');
    }
    body {
        background-color: #3b3b38;
    }
    h1 {
        color: #a020f0;
    }
    p {
        color: whitesmoke;
    }
    button {
        background-color: #debdeb;
        color: #3b3b38
    }
    label {
        color: whitesmoke;
    }
    form {
        background-color: #debded;
    }
    .logo-button img {
        border-color: #debdeb;
    }
}

