body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #debded;
}

h1 {
    color: purple;
    font-size: 40pt;
    font-family: arial;
    margin: auto;
    text-align: center;
    margin-top: 45px;
}

p {
    font-size: 20pt;
    color: grey;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* button {

}

:hover {

}

:disabled {

} */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    left: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Button styles */
.sidebar button {
    width: 120px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
}

.sidebar button:hover {
    background-color: #0056b3;
}